/*CONFIGURAÇÃO GERAL DO CSS*/
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 1440px;
  height: 2186px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/*CABEÇALHO DO SITE*/
header{
  position: absolute;
  height: 116px;
  width: 100%;
  left: 0px;
  top: 0px;
}
.navbar-brand{
  position: absolute;
  width: 125px;
  height: 29px;
  left: 113px;
  top: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.nav-link1{
  position: absolute;
  width: 39px;
  height: 12px;
  left: 484px;
  top: 53px;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #1C2A39;
  cursor: pointer;
}
.nav-link2{
  position: absolute;
  width: 74px;
  height: 12px;
  left: 563px;
  top: 53px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5C6A79;
}
.nav-link3{
  position: absolute;
  width: 109px;
  height: 12px;
  left: 677px;
  top: 53px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5C6A79;
}
.nav-link4{
  position: absolute;
  width: 30px;
  height: 11px;
  left: 826px;
  top: 53px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5C6A79;
}
.user{
  position: absolute;
  width: 12px;
  height: 15px;
  left: 1058px;
  top: 51px;
  box-sizing: border-box;
}
.search{
  position: absolute;
  width: 15px;
  height: 14.71px;
  left: 1110px;
  top: 51px;
}
.bag{
  position: absolute;
  width: 13.68px;
  height: 17px;
  left: 1165.16px;
  top: 50px;
}

/*MENU COM O BANNER*/
.banner{
  position: absolute;
  width: 1070px;
  height: 702px;
  left: 110px;
  top: 116px;
  background: #FFE0E2;
  box-shadow: 0px 6px 59px rgba(53, 49, 84, 0.08);
}
.person-1{
  position: absolute;
  left: 2%;
  right: 72.32%;
  top: 35.98%;
  bottom: 0.05%;
}
.person-2{
  position: absolute;
  left: 24.96%;
  right: 51.48%;
  top: 40.52%;
  bottom: -0.01%;
}
.person-3{
  position: absolute;
  left: 50.14%;
  right: 23.74%;
  top: 37.87%;
  bottom: 0.01%;
}
.person-4{
  position: absolute;
  left: 77.86%;
  right: 0%;
  top: 33%;
  bottom: 0%;
}
.promo-1{
  position: absolute;
  width: 149px;
  height: 204px;
  left: 936px;
  top: 105px;
}
.promo-2{
  position: absolute;
  width: 137px;
  height: 273px;
  left: 947px;
  top: 325px;
}
.p-banner{
  position: absolute;
  width: 245px;
  height: 30px;
  left: 416px;
  top: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #1C2A39;
}
.up{
  position: absolute;
  width: 88px;
  height: 78px;
  left: 330px;
  top: 105px;
}
.label-60{
  position: absolute;
  width: 260px;
  height: 235px;
  left: 410px;
  top: 82px;
}
.percent{
  position: absolute;
  width: 58px;
  height: 78px;
  left: 665px;
  top: 203px;
}
/*LIVROS DO SITE*/
  .categories{
    position: absolute;
    width: 416px;
    height: 710px;
    left: 0px;
    top: 952px;
    background-color: #EFEEF6;
  }
  .categories ul{
    position: absolute;
    list-style: none;
    top: 50px;
    left: 85px;
  }
  .li-categorie{
    width: 202px;
    height: 15px;
    left: 60px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #5C6A79;
  }
  .ellipse{
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 15px;
  }
  .li-categories {
    width: 89px;
    height: 20px;
    margin-left: 20px;
    top: 0;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1C2A39;
  }
  .books{
    position: absolute;
    display: flex;
  }
  .book{
    display: inline-block;
    width: 424px;
    height: 300px;
    left: 356px;
    top: 998px;
  }
  .book-1{
    position: absolute;
    width: 212px;
    height: 300px;
    left: 356px;
    top: 998px;
  }
  .p1-book1{
    position: absolute;
    width: 74px;
    height: 14px;
    left: 604px;
    top: 1047px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
  }
  .p2-book1{
    position: absolute;
    width: 176px;
    height: 20px;
    left: 604px;
    top: 1065px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
  }
  .stars-book1{
    position: absolute;
    width: 121px;
    height: 14px;
    left: 604px;
    top: 1089px;
  }
  .text-book1{
    position: absolute;
    width: 176px;
    height: 38px;
    left: 604px;
    top: 1119px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
  }
  .price-book1{
    position: absolute;
    width: 50px;
    height: 16px;
    left: 661px;
    top: 1173px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #BDBDBD;
  }
  .discount-book1{
    position: absolute;
    width: 51px;
    height: 16px;
    left: 604px;
    top: 1173px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
  }
  .btn-book1{
    position: absolute;
    width: 176px;
    height: 45px;
    left: 604px;
    top: 1205px;
    font-size: 12px;
    border: 1px solid #4C3DB2;
    color: #4C3DB2;
    background-color: transparent;
  }
  .btn-book1:hover{
    border: none;
    color: #fff;
    background-color: #4C3DB2;
    transition: 1s;
  }
  .book-2{
    position: absolute;
    width: 212px;
    height: 300px;
    left: 856px;
    top: 998px;
  }
  .book-3{
    position: absolute;
    width: 212px;
    height: 300px;
    left: 356px;
    top: 1394px;
  }
  .book-4{
    position: absolute;
    width: 212px;
    height: 300px;
    left: 856px;
    top: 1394px;
  }

/*RODAPÉ DO SITE*/
footer{
  position: absolute;
  width: 100%;
  height: 206px;
  left: 0px;
  top: 1980px;

  background: #5441AF;
}
footer p{
  color: #fff;
  text-align: center;
  line-height: 200px;
}
